:root {
    --clorLite: #B8E1DD;
    --clor: #3A9188;
  }
/* -------------header------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:  var(--clor);
    color:  var(--clorLite);
}

.header h1 {
    margin: 0;
    font-size: 22px;
}

.header img {
    height: 40px;
    margin-right: 20px;
}

.header nav {
    display: flex;
}

.header nav a {
    margin-left: 20px;
    color: var(--clorLite);;
    text-decoration: none;
}

.header nav a:hover {
    color: #999;
}
